.feedback {
    max-height: 600px;
    overflow: auto;
    padding: 20px;
    position: relative;
    fieldset {
        margin-bottom: 10px;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .button-capture {
        color: $white;
        display: block;
        float: right;
        margin-bottom: .5rem;
        text-align: center;
        &:hover {
            background: $fresh-taiga;
        }
    }
    .logout {
        font-size: 12px;
        position: absolute;
        right: 10px;
        top: 10px;
        &:hover {
            color: $red-light;
        }
    }
}

.notification-message {
    margin-bottom: 15px;
    padding: 0 15px;
    &.success {
        background: rgba($fresh-taiga, .9);
    }
    &.error {
        background: rgba($red, .9);
    }
    .icon-notification-success {
        @extend %xxlarge;
        display: inline;
        vertical-align: sub;
    }
    .warning {
        @extend %large;
        @extend %bold;
        color: $white;
        line-height: 2.4rem;
    }
}
